{% extends 'base.html.twig' %}

{% block body %}
<div class="container p-3 my-3 border">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
        </ol>
    </nav>
    <h1>{{ campaign.name }}</h1>
    <p>{{ campaign.description }}</p>
    {{ campaign.moneyPurpose }}
</div>
{% endblock %}
